
div
{
    display: flex;
    min-height: 75px;
    background-color: rgb(10, 73, 150);
}

@media only screen and (max-width: 600px) 
{
    .logo-responsive
    {
        max-width: 150px;
    }
}

@media only screen and (min-width: 600px) 
{
    .logo-responsive
    {
        max-width: 190px;
    }
}

@media only screen and (min-width: 800px) 
{
    .logo-responsive
    {
        max-width: 100%;
    }
}

